:host {
  --data-point-color: #9b9b9b;
  --data-point-size: 12px;
  --data-point-margin: 10px;
  --primary-font-family: 'Helvetica Now Text', 'Arial', sans-serif;
  --font-weight-normal: 400;
  --extra-small-font-size: 0.75rem;
  --extra-small-line-height: 1rem;
  --p-extra-small-margin-bottom: 0.5rem;
  --p-extra-small-color: #46535e;
}

.aon-legend-item-wrapper {
  max-width: 320px;
  display: flex;
  gap: var(--data-point-margin);
}

.color-blob {
  height: var(--data-point-size);
  width: var(--data-point-size);
  min-height: var(--data-point-size);
  min-width: var(--data-point-size);
  background-color: var(--data-point-color);
  border-radius: 50%;
  margin-block-start: 2px;
}

p.extra-small {
  font-family: var(--primary-font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--extra-small-font-size);
  line-height: var(--extra-small-line-height);
  margin-bottom: var(--p-extra-small-margin-bottom);
  margin-top: 0;
  color: var(--p-extra-small-color);
}
